<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First APP in Django</title>
</head>
<body>
    <h1>SASAPPA CREATED THIS APP USING TEMPLATES</h1>
    coming from Templates/basicApp/index.html
    <input type="button" name="chumma" value="OK"/>
    {{insert_me}}
    {{Thenga}}
    <table>
        <tr>
            <td>
                
            </td>
        </tr>
    </table>
</body>
</html>